@import 'tailwindcss';

@font-face {
	font-family: 'Horsham';
	src: url('@/assets/fonts/Horsham.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('@/assets/fonts/Roboto.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@theme {
	/* Fuentes Personalizadas */
	--font-horsham: 'Horsham', sans-serif;
	--font-roboto: 'Roboto', sans-serif;

	/* Paleta principal */
	--color-monza-50: hsl(354 100% 97%);
	--color-monza-100: hsl(354 100% 94%);
	--color-monza-200: hsl(354 100% 87%);
	--color-monza-300: hsl(354 100% 79%);
	--color-monza-400: hsl(354 100% 69%);
	--color-monza-500: hsl(358 94% 60%);
	--color-monza-600: hsl(359 84% 50%);
	--color-monza-700: hsl(359 81% 46%);
	--color-monza-800: hsl(359 78% 35%);
	--color-monza-900: hsl(359 72% 30%);
	--color-monza-950: hsl(359 81% 16%);

	--color-chicago-50: hsl(0 3% 96%);
	--color-chicago-100: hsl(0 3% 90%);
	--color-chicago-200: hsl(0 3% 82%);
	--color-chicago-300: hsl(0 3% 69%);
	--color-chicago-400: hsl(0 2% 53%);
	--color-chicago-500: hsl(0 2% 43%);
	--color-chicago-600: hsl(0 2% 37%);
	--color-chicago-700: hsl(0 2% 34%);
	--color-chicago-800: hsl(30 2% 27%);
	--color-chicago-900: hsl(0 2% 24%);
	--color-chicago-950: hsl(0 0% 15%);

	/* Paleta Secundaria */
	--color-vista-blue-50: hsl(150 50% 96%);
	--color-vista-blue-100: hsl(152 52% 90%);
	--color-vista-blue-200: hsl(157 49% 80%);
	--color-vista-blue-300: hsl(162 46% 64%);
	--color-vista-blue-400: hsl(164 39% 52%);
	--color-vista-blue-500: hsl(166 42% 40%);
	--color-vista-blue-600: hsl(167 46% 30%);
	--color-vista-blue-700: hsl(168 45% 26%);
	--color-vista-blue-800: hsl(169 45% 22%);
	--color-vista-blue-900: hsl(170 42% 19%);
	--color-vista-blue-950: hsl(171 44% 10%);

	--color-minsk-50: hsl(217 100% 97%);
	--color-minsk-100: hsl(217 100% 94%);
	--color-minsk-200: hsl(217 100% 89%);
	--color-minsk-300: hsl(217 100% 80%);
	--color-minsk-400: hsl(228 96% 72%);
	--color-minsk-500: hsl(234 86% 66%);
	--color-minsk-600: hsl(237 80% 58%);
	--color-minsk-700: hsl(240 59% 51%);
	--color-minsk-800: hsl(242 55% 40%);
	--color-minsk-900: hsl(243 48% 34%);
	--color-minsk-950: hsl(244 49% 20%);

	--color-old-brick-50: hsl(0 89% 97%);
	--color-old-brick-100: hsl(359 100% 93%);
	--color-old-brick-200: hsl(359 100% 86%);
	--color-old-brick-300: hsl(359 100% 78%);
	--color-old-brick-400: hsl(359 98% 69%);
	--color-old-brick-500: hsl(359 89% 61%);
	--color-old-brick-600: hsl(359 80% 50%);
	--color-old-brick-700: hsl(359 79% 42%);
	--color-old-brick-800: hsl(359 74% 35%);
	--color-old-brick-900: hsl(359 70% 30%);
	--color-old-brick-950: hsl(359 84% 15%);

	--color-cod-gray-50: hsl(60 3% 97%);
	--color-cod-gray-100: hsl(60 4% 90%);
	--color-cod-gray-200: hsl(60 4% 80%);
	--color-cod-gray-300: hsl(60 4% 65%);
	--color-cod-gray-400: hsl(60 4% 50%);
	--color-cod-gray-500: hsl(60 3% 40%);
	--color-cod-gray-600: hsl(60 5% 32%);
	--color-cod-gray-700: hsl(60 4% 27%);
	--color-cod-gray-800: hsl(60 3% 22%);
	--color-cod-gray-900: hsl(60 3% 19%);
	--color-cod-gray-950: hsl(60 5% 11%);

	/* Colores de Estado */
	--color-success: hsl(120 60% 50%); /* Verde Exitoso */
	--color-warning: hsl(30 100% 50%); /* Amarillo Advertencia */
	--color-error: hsl(0 80% 43%); /* Rojo Error */
	--color-info: hsl(210 10% 80%); /* Azul Claro Información */
}

body {
	font-family: 'Roboto', sans-serif;
}
